.override-color {
  background-color: black;
  color: rgb(192,192,192);

}

.list-group-item.override-navi-bar {
  background-color: black;
  color: rgb(192,192,192);
}

.active.override-active {
  color: white;
  font-weight: bold;
  border: none;
}

.override-icon {
  font-size: 22px;
  margin: 5px 10px 5px 0;
}



.input-group.override-bg {
  background-color: rgb(53,56,57);
  margin-left: 10px;
}


.card-img.override-img {
  border: 0.5px solid white;
}



.nav-tabs.override-border {
  border: none;
}

.nav-link.active.override-nav-active {
  background-color: black;
  color: white;
  border: none;
  font-weight: bold;
  border-bottom: solid 3px rgb(29,161,242);
}

.nav-link.override-nav {
  color: rgb(192,192,192);
  font-weight: bold;
}

.list-group.override-corner {
  border-radius: 20px;
}

.list-group-item.override-follow {
  border: none;
  background-color: rgb(53,56,57);
  color: rgb(192,192,192);
}

.override-follow.override-title {
  font-size: 1.5em;
}

.btn-primary.override-button {
    background-color: rgb(192,192,192);
    color: black;
    border: none;
    font-weight: bold;
    width: 100px;
}

.text-primary.override-icon-color {
  color: white;
}



